doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
        link(rel="icon" href="/favicon.ico" type="image/x-icon")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/style.min.css")
        title CONQUEST
    body
        header.header
            .page-width
                .header__wrapper
                    .header__logo.logo
                        .logo__sign.logo__sign_dark
                        span.logo__label.logo__label_dark.logo__label_align-center CONQUEST
                    .header__navbar.navbar 
                        ul.navbar__list 
                            li.navbar__item
                                a(href="#").navbar__link Каталог
                            li.navbar__item
                                a(href="#").navbar__link Акции
                            li.navbar__item
                                a(href="#").navbar__link Доставка
                            li.navbar__item
                                a(href="#").navbar__link Контакты
                    .header__func-block.func-block
                        a(href="#").func-block__item.func-block__search
                        a(href="#").func-block__item.func-block__favorite
                        a(href="#").func-block__item.func-block__cart
        main
            section.main
                .page-width
                    .main__wrapper 
                        .main__ellipse-wrapper 
                            .main__ellipse
                        .main__showcase.showcase
                            .showcase__offer.offer
                                h1.offer__title_h1.mb-16.line.line-50.line-50_left Весна/Лето 2019
                                h2.offer__title_h2.mb-40 Коллекция
                                p.offer__description.mb-64.max-w-260 Швейцарские часы в наличии в Москве и с доставкой по всему миру
                                a(href="#").button.button_type-1.button_dark Смотреть каталог
                            .showcase__view-block
                                img(src="./img/watch.png" alt="RADO watch").showcase__watch-img
                                .showcase__label-wrapper.showcase__label-wrapper_1
                                    .showcase__label.showcase__label_1.line.line-50.line-50_right 22 000 ₽
                                .showcase__label-wrapper.showcase__label-wrapper_2 
                                    .showcase__label.showcase__label_2.line.line-50.line-50_left 28 мм диаметр
            section.popular-models
                .page-width
                    .popular-models__wrapper  
                        h2.popular-models__title Популярные модели
                        a(href="#").popular-models__link.mb-40 
                            span Смотреть все
                        .popular-models__cards
                            .popular-models__card.card
                                .card__description-block 
                                    span.card__manufacturer RADO
                                    spa.card__price 65 300 ₽
                                .card__img-wrapper.mb-20
                                    img(src="./img/watch_1.png").card__img 
                                a(href="#").card__more-block
                                    span.card__more.line.line-30.line-30_left.ml-45 Подробнее
                            .popular-models__card.card
                                .card__description-block 
                                    span.card__manufacturer BVLGARI
                                    spa.card__price 65 300 ₽
                                .card__img-wrapper.mb-20
                                    img(src="./img/watch_3.png").card__img 
                                a(href="#").card__more-block
                                    span.card__more.line.line-30.line-30_left.ml-45 Подробнее
                            .popular-models__card.card
                                .card__description-block 
                                    span.card__manufacturer BVLGARI
                                    spa.card__price 65 300 ₽
                                .card__img-wrapper.mb-20
                                    img(src="./img/watch_4.png").card__img 
                                a(href="#").card__more-block
                                    span.card__more.line.line-30.line-30_left.ml-45 Подробнее
            section.advantages
                .page-width 
                    .advantages__bg
                        .advantages__wrapper 
                            .advantages__slider.slider
                                img(src="./img/photo_banner.png").slider__img
                                .slider__offer.offer
                                    h2.offer__title_h2.mb-40 Подлинное качество
                                    p.offer__description.mb-45 Все часы производятся в Швейцарии и имеют сертификаты качества. Настоящие швейцарские часы — это предмет гордости и престижа.
                                    a(href="#").button.button_type-1.button_brown СМОТРЕТЬ КАТАЛОГ
                                .slider__control-panel.control-panel  
                                    .control-panel__left 
                                    .control-panel__number 01
                                    .control-panel__right 
            section.follow-us
                .page-width 
                    .follow-us__wrapper 
                        .follow-us__offer.offer 
                            h2.offer__title_h2.mb-40 Следите за нашими новостями
                            p.offer__description.mb-120.max-w-380 Подписывайтесь на <strong>@conquest_watch</strong> в соцсетях и узнавайте о новинках и акциях первыми.
                            .sm-panel 
                                ul.sm-panel__list
                                    li.sm-panel__item
                                        a(href="#").sm-panel__link
                                            .sm-panel__instagram.sm-panel__icon
                                    li.sm-panel__item
                                        a(href="#").sm-panel__link
                                            .sm-panel__facebook.sm-panel__icon
                                    li.sm-panel__item
                                        a(href="#").sm-panel__link
                                            .sm-panel__twitter.sm-panel__icon
                        .follow-us__pictures-block.pictures-block
                            img(src="./img/photo_1.png" alt="watch").pictures-block__img-1
                            img(src="./img/photo_2.png" alt="watch").pictures-block__img-2
                            img(src="./img/photo_3.png" alt="watch").pictures-block__img-3
        footer.footer  
            .page-width
                .footer__wrapper
                    ul.footer__list
                        .list__title.logo
                            .logo__sign.logo__sign_light
                            span.logo__label.logo__label_light.logo__label_align-bottom CONQUEST
                        .list__item 8 (499) 450-47-97
                        .list__item info@conquest.watch.ru
                    ul.footer__list
                        .list__title о компании
                        .list__item
                            a(href="#").list__link  Наши магазины
                        .list__item 
                            a(href="#").list__link Вакансии
                        .list__item 
                            a(href="#").list__link Сертификаты
                        .list__item 
                            a(href="#").list__link Отзывы
                    ul.footer__list
                        .list__title покупателям
                        .list__item 
                            a(href="#").list__link Каталог товаров
                        .list__item 
                            a(href="#").list__link Как заказать?
                        .list__item 
                            a(href="#").list__link FAQ
                        .list__item 
                            a(href="#").list__link Корпоративным клиентам
                    ul.footer__list
                        .list__title оплата и доставка
                        .list__item 
                            a(href="#").list__link Способы оплаты
                        .list__item 
                            a(href="#").list__link Время доставки
                        .list__item 
                            a(href="#").list__link Гарантии и ремонт
                        .list__item 
                            a(href="#").list__link Возврат и компенсация